# Frontend Port Mapping (8080 for local, 80 for production server)
FRONTEND_PORT=8080

# Backend Configuration
JWT_SECRET=your_super_secret_key_123
EMAIL_USER=evanzzsharol@gmail.com
EMAIL_PASS=nbjo rire apda pypt

# MongoDB URI (Automatically set inside docker-compose)
# MONGODB_URI=mongodb://mongo:27017/stillwithyou
